{% include base_path %}


<div class="card shadow-0 border rounded-3 " style="transform: scale(1);">
  <div class="card-body">
    <div class="row g-0">
        <h4 style="text-align:center;margin-bottom: 2%;" class="border-bottom mb-2 pb-3">Filtres</h4>
      <div class="col-12 col-xl-12 col-md-12 px-2 mt-4 justify-content-start" >
        <form action="" method="">
          <ul class="custom-form-list">
            <li>
              <div class="filter-title">MONTANT</div>
              <div class="slider">
              <div class="slider-labels">
                <div> <label for="minPrice">De:</label><span id="minPriceValue"></span></div>
                <div><label for="maxPrice">A:</label><span id="maxPriceValue"></span></div>
                </div>
              <div class="range-slider">
                 <span class="range-selected"></span>
               </div>
              <div class="slider-inputs">
              <input type="range" id="minPrice" min="0" max="2000" step="1" value="0">
              <input type="range" id="maxPrice" min="0" max="2000" step="1" value="2000">
              </div>
              </div>
            </li>
            <li>
              <div class="filter-title"><label for="datest">DATE DE VERSEMENT</label></div>
<!--              <label for="datest" class="custom-form-label"></label>-->
              <input type="date" class="custom-form-control" style="display:flex;" id="datest">
            </li>
            <li>
              <div class="filter-title">DOMAINE D'ETUDES</div>
<!--              <label for="etudes" class="custom-form-label">DOMAINE D'ETUDES</label>-->
              <div class="form-check">
                <input class="form-check-input custom-form-control" type="checkbox" value="" id="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">Litterature</label>
              </div>
              <div class="form-check">
                <input class="form-check-input custom-form-control" type="checkbox" value="" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2">Biologie</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">Politique</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                <label class="form-check-label" for="flexCheckDefault4">Medecine</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                <label class="form-check-label" for="flexCheckDefault5">Informatique</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault6">
                <label class="form-check-label" for="flexCheckDefault6">Sociologie</label>
              </div>
            </li>
            <li>
              <div class="filter-title">TYPE</div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="publique" id="publique" checked>
                <label class="form-check-label" for="publique">Publique</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="privee" id="privee" checked>
                <label class="form-check-label" for="privee">Privee</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="mobilite" id="mobilite" checked>
                <label class="form-check-label" for="mobilite">Mobilite</label>
              </div>
            </li>
            <li>
              <div class="filter-title">NOTE</div>
<!--              <label for="grade" class="custom-form-label">NOTE</label>-->
              <div class="form-check">
                <input class="form-check-input custom-form-control" type="checkbox" value="" id="grade5">
                <label class="form-check-label" for="grade5" style="color:#f8cc1c;">
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input custom-form-control" type="checkbox" value="" id="grade4">
                <label class="form-check-label" for="grade4" style="color:#f8cc1c;">
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                </label>
              </div>
                            <div class="form-check">
                <input class="form-check-input custom-form-control" type="checkbox" value="" id="grade3">
                <label class="form-check-label" for="grade3" style="color:#f8cc1c;">
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                </label>
              </div>
                <div class="form-check">
                <input class="form-check-input custom-form-control" type="checkbox" value="" id="grade2">
                <label class="form-check-label" for="grade2" style="color:#f8cc1c;">
                  <i class='ri-star-s-fill ri-15x'></i>
                  <i class='ri-star-s-fill ri-15x'></i>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input custom-form-control" type="checkbox" value="" id="grade1">
                <label class="form-check-label" for="grade1" style="color:#f8cc1c;">
                  <i class='ri-star-s-fill ri-15x'></i>
                </label>
              </div>
<!--              <input type="text" class="custom-form-control" id="grade">-->
            </li>
          </ul>
          <button class="btn btn-primary reset-button" type="reset" value="Reset">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>

</style>
