{% include base_path %}


<div class="card shadow-0 border rounded-3">
  <div class="card-body">
    <div class="row g-0">
        <h4 style="text-align:center;margin-bottom: 2%;" class="border-bottom mb-2 pb-3">Filtres</h4>
      <div class="col-xl-12 col-md-12 d-flex mt-4 justify-content-start" >
        <form action="" method="">
          <ul class="custom-form-list">
            <li>
              <label for="montant" class="custom-form-label">MONTANT</label>
            <input type="text" class="custom-form-control" id="montant">
            </li>
            <li>
              <label for="datest" class="custom-form-label">DATE DE VERSEMENT</label>
              <input type="date" class="custom-form-control" id="datest">
            </li>
            <li>
              <label for="etudes" class="custom-form-label">DOMAINE D'ETUDES</label>
              <input type="text" class="custom-form-control" id="etudes">
            </li>
            <li>
              <label for="grade" class="custom-form-label">NOTE</label>
              <input type="text" class="custom-form-control" id="grade">
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>