{% include base_path %}

<div class="social-links">
    <a href="https://github.com/nepthune-enpc" target="_blank">
      <i class="ri-github-fill ri-xl"></i>
    </a>
    <a href="#" target="_blank">
      <i class="ri-twitter-fill ri-xl"></i>
    </a>
    <a href="https://www.linkedin.com/in/nepthune-enpc/" target="_blank">
      <i class="ri-linkedin-box-fill ri-xl"></i>
    </a>
    <a href="#"><i class="icon ion-social-twitter"></i></a>
</div>
<div class="page__footer-useful-links">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="{{ base_path }}/nepthune.html">Nepthune</a></li>
        <li class="list-inline-item"><a href="#">Nos Services</a></li>
        <li class="list-inline-item"><a href="{{ base_path }}/auth/a_propos.html">A propos</a></li>
        <li class="list-inline-item"><a href="{{ base_path }}/contact.html">Nous contacter</a></li>
        <li class="list-inline-item"><a href="#">Politique de confidentialite</a></li>
    </ul>
    <p class="copyright">{{ site.name | default: site.title }} &copy {{ site.time | date: '%B %Y' }}</p>
</div>
<style>
    .page__footer-useful-links {
  float: left;
  width: 100%;
  clear: both;
  /* sticky footer fix start */
  position: absolute;
  bottom: 0em;
  /* height: 75%; */
  /* sticky footer fix end */
  color:  #6f7a83;;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  background-color:  #cfdfdf;
  border-top: 1px solid  #7f8b94;
    }
    .page__footer-useful-links ul {
        padding: 0.2%;
    }

    .page__footer-useful-links ul a {
        color: inherit;
        text-decoration: none;
        opacity:0.8;
        font-size: 11pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;

    }

    .page__footer-useful-links ul a:hover {
        opacity:1;
    }



</style>