<div class="sidebar-layout">
  <!-- Account header -->
  <div class="sidebar-header">
    <div class="pro-sidebar-logo">
    <div>V</div>
    <h5>Victoria</h5>
  </div>
  </div>
  <div class="sidebar-content">
    <nav class="menu open-current-submenu">
      <ul>
        <li class="menu-header"><span>GENERAL</span></li>
        {% for item in site.data.side_bar.docs %}
        <li class="menu-item sub-menu">
          <a href="{{ base_path }}{{ item.url }}">
            <span class="menu-icon">
              <i class="{{ item.icon }}"></i>
            </span>
            <span class="menu-title">{{ item.title }}</span>
          </a></li>
          {% endfor %}
      </ul>
    </nav>
  </div>
</div>
