<div class="sidebar-layout" id="#sidebarScroll">
  <!-- Account header -->
  <div class="sidebar-header">
    <div class="pro-sidebar-logo">
    <div>V</div>
    <h5>Victoria</h5>
  </div>
  </div>
  <div class="sidebar-content">
    <nav class="menu open-current-submenu">
      <ul>
        <li class="menu-header"><span>GENERAL</span></li>
        <li class="menu-item sub-menu">
        {% for item in site.data.side_bar.docs %}
        <a href=".{{ item.url }}" class="sidebar-link">
          <span class="menu-icon">
            <i class="{{ item.icon }}"></i>
          </span>
          <span class="menu-title">{{ item.title }}</span>
        </a>
        {% endfor %}</li>
      </ul>
    </nav>
  </div>
  <div class="sidebar-footer">
    <!-- Footer content here -->
     <a href="{{ base_path }}" class="sidebar-link">
      <span class="menu-icon"><i class="ri-logout-box-r-line"></i></span>
      <span>Déconnexion</span>    
     </a>
  </form>  
  </div>
</div>
{% include scripts.html %}
