<div class="sidebar-layout" id="sidebar-layout">
  <!-- Account header -->
  <div class="sidebar-header">
    <div class="pro-sidebar-logo">
    <div>V</div>
    <h5>Victoria</h5>
  </div>
  </div>
  <div class="sidebar-content">
    <nav class="menu open-current-submenu">
      <ul>
        <li class="menu-header"><span>GENERAL</span></li>
        <li class="menu-item sub-menu">
        {% for item in site.data.side_bar.docs %}
        <a href=".{{ item.url }}">
          <span class="menu-icon">
            <i class="{{ item.icon }}"></i>
          </span>
          <span class="menu-title">{{ item.title }}</span>
        </a>
        {% endfor %}</li>
      </ul>
    </nav>
  </div>
</div>
