[inert] > * > .form-control  {
  color: #FFFFFF;
  border: none;
}

[inert] > * > .form-label  {
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  margin-left: 0%;
  margin-bottom: 0%;
  //font-weight: bold;
}

[inert] > * > .form-control  {
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  margin-left: -1%;
}

a.btn.btn-form-submit {
  background-color: #2b6384;
  color: #ffffff;
  border-color: #2b6384;
  font-size: 0.9em;
  //font-weight: bold;
  border-radius: 5px;
  float: right;
}

.btn-form-submit:hover,
.btn-form-submit:active,
.btn-form-submit:focus,
.btn-form-submit.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #2b75a5;
  color: #ffffff;
  border-color: #003D4F;
  color: #ffffff;
}

a.btn.btn-form-save {
  background-color: #6caacc;
  color: #ffffff;
  border-color: #2b6384;
  //font-weight: bold;
  border-radius: 5px;
  float: right;
  position: relative;
}

.btn-form-save:hover,
.btn-form-save:active,
.btn-form-save.active,
.btn-form-save:focus {
  /* let's darken #004E64 a bit for hover effect */
  background: #006699;
  color: #ffffff;
  border-color: #003D4F;
  color: #ffffff;
}


ul.custom-form-list > li > .custom-form-label {
  color: #3f4750;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  font-weight: 500;
  //color: #3f4750; $dark-gray ;
}

ul.custom-form-list > li > .custom-form-control {
  color: #3f4750;
  border: none;
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
  //color: #3f4750; $dark-gray ;
}

ul.custom-form-list > li > .custom-form-label::after {
  content: "\a";
  //display: block;
  white-space: pre;
  //color: #3f4750; $dark-gray ;
}

ul.custom-form-list > li > .custom-form-control::before {
  content: "\a";
  white-space: pre;
  //margin-left: 5em;
  //color: #3f4750; $dark-gray ;
}

ul.custom-form-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: left;

}

ul.custom-form-list > li {
  margin-bottom: 15%;

}


.filter-title {
  font-weight: 500;
  margin-bottom: 5%;
  color: $dark-gray ;
}

.custom-form-control {
    margin-left: 10%;
}


.form-check-input {
    margin-left: 20%;
}

.form-check-label {
    color: $darker-gray;
}