.layout  {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
      
    .header {
        transition: width, 0.3s;
        height: $header-height;
        min-height: $header-height;
        position: relative;
    
        .navbar-layout  {
            display: flex;

            ul {
                display: flex;
                list-style: none;
              li {
              margin-right: 20px;
                a {
                    text-decoration: none;
                    color:rgb(3, 84, 108);
                &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                      }
                }
              }
            }
        }
    }
}  