body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    /* background: url(./background.jpg); */
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;
    justify-content: center;
    text-align: center;  
    align-items: center;
    display: flex;
}

a1 {
    text-align: right;
}

.form__button {
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.95rem 1.5rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1.2rem;
    /* display: block; */
    width: 300px;
  }


  .form__button:hover {
    opacity: 0.8;
  }

  .text-center {
    text-align: center;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  