{% include base_path %}


{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{ page.title }}"
    />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.png" >
    {% include head.html %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="layout has-sidebar fixed-sidebar"
    id="current-sidebar">
      <!-- <aside class="sidebar break-point-sm"> -->
        <!-- <a id="btn-collapse" class="sidebar-collapser"><i class="ri-arrow-left-s-line"></i></a> -->
        {% include sidebar.html %}
      <!-- </aside> -->
      <div class="overlay" id="overlay"></div>
      <div class="layout">
        <header class="header">
          {% include navigation.html %}
        </header>
      
        <main class="content">
          {{ content }}
        </main>
        <div class="overlay"></div>
         <footer class="footer" style="position: relative;">  <!--style="position: relative; height: 5%;" -->
          {% include footer.html %}
        </footer>
      </div>
    </div>
  </body>
  <link rel="stylesheet" href="{{ base_path }}/assets/js/styles/styles.css" />
  <!-- {% include scripts.html %} -->
</html>
<style>
  a {
    text-decoration: none;
  }
  /* .content {
    margin-top: 3%;
    margin-left: 3%;
  } */
</style>
