---
layout: accueil
---



<!-- sidebar + content -->
<section class="" style="">
  <div  style="">
    <div class="row">
    
      <!-- content -->
      <div class="col-lg-9" style="margin-top:5%;margin-left:3%;overflow:hidden;">
        <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
          <strong class="d-block py-2">12 Bourses trouvees</strong>
          <div class="ms-auto">
            <select class="form-select d-inline-block w-auto border pt-1" id="sort-grants" onchange="displaySelection()">
              <option value="amount">Montant Decroissant</option>
              <option value="popular">Plus populaires</option>
              <option value="newest">Plus Recentes</option>
              <option value="A-Z">Ordre alphabetique</option>
            </select>
            <div class="btn-group shadow-0 border" style="position: relative;z-index:1;">
              <a onclick="listView()" class="btn btn-light" title="List view">
                <i class="fa fa-bars fa-lg"></i>
              </a>
              <a onclick="GridView()" class="btn btn-light active" title="Grid view">
                <i class="fa fa-th fa-lg"></i>
              </a>
            </div>
          </div>
        </header>
        <p id="sorting-result"></p>

        {{content}}


        <hr />

        <!-- Pagination -->
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- Pagination -->
      </div>


    </div>

  </div>
</section>

<!-- Footer -->
<script>
  function displaySelection() {
    var choice = document.getElementById("sort-grants").value;
    let txt = "";
    if (choice === "newest") {
      txt = "{% assign liste_des_bourses = site.data.bourses  | sort:'date' %}";
    } else if (choice === "oldest") {
      txt ="{% assign liste_des_bourses = site.data.bourses  | sort: 'date' | reverse  %}";
    } else if (choice === "amount") {
      txt = "{% assign liste_des_bourses = site.data.bourses  | sort: 'montant'| reverse %}";
    } else if (choice === "A-Z") {
      txt = "{% assign  liste_des_bourses = site.data.bourses  | sort: 'donateur' %}";
    } else {
      txt = "{% assign  liste_des_bourses = site.data.bourses | sort: 'montant' | reverse %}";
   }
    document.getElementById("sorting-result").textContent = txt;
  }
  // Get the elements with class="column"
  var elements = document.getElementsByClassName("card-body");

  // Declare a loop variable
  var i;

  // List View
  function listView() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.width = "100%";
    }
  }

  // Grid View
  function gridView() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.width = "50%";
    }
  }
</script>




<!-- <style>
   
     .tri-list {
        position: absolute;
        right: 5%;
        max-width: 6%;
        background-color: rgb(201, 240, 252);
        font-size: 11pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #333333;
    }
</style> --> -->