---
layout: accueil
---

<h1>{{ page.title }}</h1>





<main class="content">
  <select class="form-control tri-list">
    <option selected>Trier par</option>
    <option>Plus recent </option>
    <option>Plus ancien </option>
    <option>Montant decroissant </option>
  </select>
  
  {{ content }}
</main>




<style>
   
     .tri-list {
        position: absolute;
        right: 5%;
        max-width: 6%;
        background-color: rgb(201, 240, 252);
        font-size: 11pt;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: #333333;
    }
</style>